* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button, a {
  outline: none;
  cursor: pointer;
}

body {
  background-color: #f0f0f0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1000px;
  margin: auto;
}

.footer {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.main {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: url("../img/bg/bg-1.jpg") center center;
  position: relative;
  overflow: hidden;
}

.main::before {
  position: absolute;
  content: '';
  width: 253px;
  height: 796px;
  left: -20px;
  top: 150px;
  background: url("../img/left.png");
}

.main::after {
  position: absolute;
  content: '';
  width: 314px;
  height: 1017px;
  right: -80px;
  top: 145px;
  background: url("../img/right.png");
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-dot {
  background: #e02222 !important;
  width: 10px;
  margin-top: 25px !important;
  margin: 10px;
  border-radius: 100%;
  height: 10px;
  border: none;
  padding: 0 !important;
  font: inherit;
}

@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster/Lobster.eot");
  src: url("../fonts/Lobster/") format("embedded-opentype"), url("../fonts/Lobster/Lobster.woff") format("woff"), url("../fonts/Lobster/Lobster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PFCentroSlabProBold";
  src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot");
  src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff") format("woff"), url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Circe Regular';
  src: url("../fonts/Circe Regular/");
  src: url("../fonts/Circe Regular/?#iefix") format("embedded-opentype"), url("../fonts/Circe Regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe Regular/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Bold';
  src: url("../fonts/Circe Bold/");
  src: url("../fonts/Circe Bold/?#iefix") format("embedded-opentype"), url("../fonts/Circe Bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe Bold/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amazing Grotesk';
  src: url("../fonts/Circe Bold/");
  src: url("../fonts/Circe Bold/?#iefix") format("embedded-opentype"), url("../fonts/Amazing Grotesk/amazing-grotesk.regular.woff") format("woff"), url("../fonts/Amazing Grotesk/amazing-grotesk.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  margin-left: 20px;
}

.navbar-smm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.navbar-smm__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 11px;
  fill: #e02222;
  width: 32px;
  height: 31px;
  border: 2px solid #e02222;
  border-radius: 100%;
}

.navbar-smm__link:hover {
  fill: #ff4e4e;
  border-color: #ff4e4e;
}

.navbar-smm__link_ok {
  width: 13px;
  height: 19px;
}

.navbar-smm__link_fb {
  width: 10px;
  height: 18px;
}

.navbar-smm__link_vk {
  width: 11px;
  height: 16px;
}

.head-data_text {
  text-align: center;
  font-family: Lobster;
  font-size: 45px;
  color: #5f5b5b;
  letter-spacing: 0.31px;
  font-weight: 400;
  font-family: 'Lobster';
}

.head-title_text {
  text-align: center;
  font-family: "PFCentroSlabProBold";
  color: #f94f33;
  font-size: 80px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.head-subtitle_text {
  display: block;
  margin: auto;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 22px;
  font-size: 18px;
  color: #5f5b5b;
  font-family: 'Circe Regular';
}

.head-schedule {
  margin-bottom: 62px;
}

.head-schedule_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
  text-transform: uppercase;
  color: #e02222;
  font-family: 'Circe Bold';
  font-size: 22px;
  cursor: pointer;
}

.head-schedule_text:hover {
  color: #ff4e4e;
}

.head-schedule_text:hover .head-list {
  fill: #ff4e4e;
}

.head-list {
  margin-right: 16px;
  width: 33px;
  height: 29px;
  fill: #e02222;
  cursor: pointer;
}

.schedule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.schedule__item {
  width: 258px;
  margin-right: 16px;
}

.schedule__item:hover {
  cursor: pointer;
}

.schedule__item:hover .schedule__time, .schedule__item:hover .schedule__title, .schedule__item:hover .schedule__author {
  color: #f94f33;
}

.schedule__item:hover .schedule__img::before {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.schedule__time {
  font-size: 18px;
  color: #5f5b5b;
  font-family: 'Circe Regular';
  letter-spacing: -0.16px;
  display: block;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 17px;
}

.schedule__title {
  color: #5f5b5b;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: 'Circe Regular';
  text-transform: uppercase;
  letter-spacing: -0.13px;
  margin-bottom: 11px;
}

.schedule__author {
  font-size: 16px;
  font-family: 'Circe Regular';
  color: #5f5b5b;
  letter-spacing: -0.15px;
  display: block;
  text-align: center;
  margin-bottom: 37px;
}

.schedule__img {
  position: relative;
  border: 10px solid #fff;
}

.schedule__img::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 79, 51, 0.5);
  opacity: 0;
  z-index: 999;
}

.schedule__img::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 71px;
  background: url("../img/schedule/play.png") no-repeat;
  top: 25%;
  left: 35%;
  z-index: 1000;
}

.schedule__button {
  font-family: 'Amazing Grotesk';
  display: block;
  margin: auto;
  margin-top: 55px;
  width: 372px;
  height: 77px;
  color: #ffffff;
  letter-spacing: 0.74px;
  font-size: 27px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#e45634), to(#d24227));
  background: linear-gradient(#e45634, #d24227);
  border-radius: 50px;
  margin-bottom: 34px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.schedule__button:hover {
  background: #da5238;
}

.schedule-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule-links:hover .schedule__link {
  color: #ff4e4e;
}

.schedule-links:hover .schedule__arrow {
  border-color: #ff4e4e;
  fill: #ff4e4e;
  cursor: pointer;
}

.schedule__link {
  cursor: pointer;
  font-family: 'Circe Regular';
  color: #e02222;
  font-size: 18px;
  letter-spacing: -0.16px;
  text-decoration: none;
  margin-bottom: 66px;
  margin-right: 12px;
}

.schedule__arrow {
  cursor: pointer;
  width: 21px;
  height: 22px;
  fill: #e02222;
  padding: 1px;
  border: 2px solid #e02222;
  border-radius: 50%;
}

.footer {
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: #f0f0f0;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__description {
  color: #e02222;
  font-size: 14px;
  letter-spacing: -0.13px;
  font-family: 'Circe Regular';
  text-decoration: none;
}

.footer__description_gray {
  font-size: 14px;
  color: #454545;
  text-decoration: none;
}

.footer_border {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.17);
}

.footer__link {
  margin-left: 58px;
}

.gifts {
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  padding-top: 60px;
  background-color: #ffffff;
}

.gifts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.gifts-slider {
  width: 498px;
  margin: auto;
  margin-right: 50px;
  margin-top: 20px;
}

.gift__item {
  margin-bottom: 30px;
  text-align: center;
}

.gift__title {
  text-align: center;
  font-family: "PFCentroSlabProBold";
  font-size: 28px;
  font-weight: 700;
  line-height: 79.56px;
}

.gift__contest {
  display: block;
  text-transform: uppercase;
  letter-spacing: -0.15px;
  font-size: 16px;
  color: #5f5b5b;
  line-height: 22px;
}

.gift__time {
  font-family: 'Circe Regular';
  color: #5f5b5b;
  letter-spacing: -0.11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28.06px;
}

.gift__winner {
  color: #5f5b5b;
  font-size: 14px;
  letter-spacing: -0.13px;
  line-height: 24px;
  font-family: 'Circe Regular';
}

.gift__add {
  font-family: 'Circe Regular';
  font-size: 18px;
  color: #e02222;
  text-decoration: none;
  text-align: center;
  margin-bottom: 73px;
  margin-right: 12px;
}

.gift-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift-hidden {
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.gift__men {
  color: #9b9b9b;
}

.slide {
  border: 10px solid #ebebeb;
}
/*# sourceMappingURL=style.css.map */